<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head></head>
<body>

<!-- ROTATING LIST ADDONS FRAGMENT -->
<div class="section" th:fragment="addonRotatingSelection(addonlist, title)"
     th:with="slickNavID=${title.replace(' ','_')} , slickDataNav ='#'+${slickNavID}">
    <!--/*@thymesVar id="addonlist" type="java.util.List<Addon>"*/-->
    <!--/*@thymesVar id="title" type="java.lang.String"*/-->
    <!--/*@thymesVar id="vf" type="com.telerikacademy.addonis.contollers.mvc.ViewFormatter"*/-->

    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title" th:text="${title}">Title</h3>
                </div>
            </div>
            <!-- /section title -->
            <!-- Products tab & slick -->
            <div class="col-md-12">
                <div class="row">
                    <div class="products-tabs">
                        <!-- tab -->
                        <div class="tab-pane active" id="tab1">
                            <div class="products-slick" th:attr="data-nav=${slickDataNav}" data-nav="#slick-nav-1">
                                <!-- Thymeleaf-->
                                <div th:remove="tag" th:each="addon: ${addonlist}">
                                    <div th:replace="fragments::addoncard(${addon})">
                                    </div>
                                </div>
                                <!-- Thymeleaf-->
                            </div>
                            <div class="products-slick-nav" th:attr="id=${slickNavID}" id="slick-nav-1"></div>
                        </div>
                        <!-- /tab -->
                    </div>
                </div>
            </div>
            <!-- Products tab & slick -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /LIST ADDONS FRAGMENT -->

<!-- SINGLE ADDON CARD FRAGMENT -->
<div th:fragment="addoncard(addon)" class="product">
    <!--/*@thymesVar id="addon" type="com.telerikacademy.addonis.models.Addon"*/-->
    <!--/*@thymesVar id="vf" type="com.telerikacademy.addonis.contollers.mvc.ViewFormatter"*/-->

    <div class="product-img">
        <img alt="" class="test"
             src="./img/eclipse.png" style="max-width:50px; margin: 5px;" th:src="${vf.getLogoSource(addon.getTargetIde())}">
        <div class="product-label">
            <span class="" th:text="${addon.getTargetIde().getName()}"></span>
        </div>
    </div>
    <div class="product-body">
        <h3 class="product-name">
            <a href="#" th:text="${addon.getName()}">
                product name goes here
            </a>
            <p class="product-category" th:text="${addon.getCreator().getUsername()}">
                Category
            </p>
        </h3>
        <i>
            <div th:text="${vf.getShortDescription(addon)}"> ALA BALA</div>
        </i>
        <div class="product-rating">
            <div th:replace="fragments::addonrating(${addon}, 'product-rating')"></div>
        </div>
        <h6 th:text="${vf.getAverageRating(addon)}">Average rating: 4.5 out of 5</h6>
        <h6 th:text="${vf.getNumberOfDownloads(addon)}">16 downloads</h6>
        <h6 th:text="${vf.getLastCommit(addon)}"></h6>
        <div class="product-btns">
            <button class="add-to-wishlist">
                <i class="fa fa-user"></i>
                <span class="tooltipp"
                      th:text="${addon.getCreator().getUsername()}">Author</span>
            </button>

            <button class="add-to-compare">
                <a target="_blank" th:href="${addon.getOriginUrl()}">
                    <i class="fa fa-git"></i> </a>

                <span class="tooltipp">
                GIT Repo</span>
            </button>

            <button class="quick-view">  <a href="#" th:href="@{/addons/{id}(id=${addon.getId()})}">
                <i class="fa fa-eye"> </i></a>
           <span class="tooltipp">Details</span>
            </button>


            <button class="add-to-compare">
                <a th:href="${vf.getLinkBinary(addon)}">
                    <i class="fa fa-download"></i>
                </a>
                <span class="tooltipp">
                Download</span>
            </button>

        </div>
    </div>
<!--        <div class="add-to-cart">-->
<!--            -->
<!--            <button class="add-to-cart-btn">-->
<!--                <i class="fa fa-download"></i> Download</button>-->
<!--        </div>-->
</div>

<!-- NAVIGATION FRAGMENT -->
<nav id="navigation" th:fragment="navigation(page)">
    <!--/*@thymesVar id="page" type="java.lang.String"*/-->
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <ul class="main-nav nav navbar-nav">
                <li th:classappend="${page=='home'} ? 'active' : ''">
                    <a href="#">Home</a></li>
                <li th:classappend="${page=='browseaddons'} ? 'active' : ''">
                    <a href="#">Browse Addons</a>
                </li>
                <li th:classappend="${page=='myaddons'} ? 'active' : ''">
                    <a href="#">My Addons</a>
                </li>
                <li th:classappend="${page=='manageaddons'} ? 'active' : ''">
                    <a href="#">Manage Addons</a>
                </li>
                <li th:classappend="${page=='manageusers'} ? 'active' : ''">
                    <a href="#">Manage Users</a>
                </li>

            </ul>
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>
<!-- /NAVIGATION -->

<!-- ADDON RATING FRAGMENT -->
<div th:fragment="addonrating(addon, class)">
    <!--/*@thymesVar id="addon" type="com.telerikacademy.addonis.models.Addon"*/-->
    <!--/*@thymesVar id="vf" type="com.telerikacademy.addonis.contollers.mvc.ViewFormatter"*/-->
    <span th:switch="${vf.getNumberOfStars(addon)}">
         <span th:class="${class}"  th:case="'0'">
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
        </span>
        <span th:class="${class}" th:case="'1'">
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
        </span>
        <span th:class="${class}" th:case="'2'">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
        </span>
        <span th:class="${class}" th:case="'3'">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
        </span>
         <span th:class="${class}" th:case="'4'">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
        </span>
          <span th:class="${class}" th:case="'5'">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
        </span>
    </span>
</div>

<!-- STYLE FRAGMENT -->
<div th:fragment="index">
    <!--/*@thymesVar id="addon" type="com.telerikacademy.addonis.models.Addon"*/-->
    <!--/*@thymesVar id="vf" type="com.telerikacademy.addonis.contollers.mvc.ViewFormatter"*/-->
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"  th:href="@{/css/bootstrap.min.css}"/>

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="css/slick.css" th:href="@{/css/slick.css}">
    <link type="text/css" rel="stylesheet" href="css/slick-theme.css" th:href="@{/css/slick-theme.css}"/>

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="css/nouislider.min.css" th:href="@{/css/nouislider.min.css}"/>

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" >

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="css/style.css" th:href="@{/css/style.css}" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]&ndash;&gt;-->

</div>

<!-- MAIN HEADER FRAGMENT-->
<div id="header" th:fragment="header">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- LOGO -->
            <div class="col-md-2">
                <div class="header-logo">
                    <a class="logo" th:href="@{~/}">
                        <br>
                        <h3 style="color:white">
                            <i class="fa fa-puzzle-piece" style="color:red"></i>
                            addonis</h3>

                    </a>
                </div>
            </div>
            <!-- /LOGO -->

            <!-- SEARCH BAR -->
            <div class="col-md-8">
                <div class="header-search">
                    <form>
                        <select class="input-select">
                            <option value="0">All IDE's</option>
                            <option value="1">Category 01</option>
                            <option value="1">Category 02</option>
                        </select>
                        <input class="input" placeholder="Search here">
                        <select class="input-select-sort">
                            <option value="0">Sort</option>
                            <option value="1">Last commit date</option>
                            <option value="2">Number of downloads</option>
                            <option value="3">Upload date</option>
                            <option value="3">Name</option>

                        </select>
                        <button class="search-btn">Search</button>
                    </form>
                </div>
            </div>
            <!-- /SEARCH BAR -->

            <!-- ACCOUNT -->
            <div class="col-md-2 ">
                <div class="header-ctn">


                    <!-- Register -->
                    <div th:if="${session.currentUser == null}">
                        <a th:href="@{~/auth/register}">
                            <i class="fa fa-user-o"></i>
                            <span>Register</span>
                        </a>
                    </div>
                    <!-- /Register -->

                    <!-- Login -->
                    <div th:if="${session.currentUser == null}">
                        <a th:href="@{~/auth/login}">
                            <i class="fa fa-sign-in"></i>
                            <span>Login</span>
                        </a>
                    </div>
                    <!-- /Login -->

                    <!-- Account -->
                    <div th:if="${session.currentUser != null}">
                        <a href="#">
                            <!--                                <img src="/api/storage/users/1/picture" alt="Avatar" style="width:30px; border-radius:50%">-->
                            <i class="fa fa-user-circle-o"></i>

                            <span th:text="${username}">Account</span>
                        </a>
                    </div>
                    <!-- /Account -->

                    <!-- Logout -->
                    <div th:if="${session.currentUser != null}">
                        <a th:href="@{~/auth/logout}">
                            <i class="fa fa-sign-out"></i>
                            <span>Logout</span>
                        </a>
                    </div>
                    <!-- /Logout -->


                    <!-- Menu Toogle -->
                    <div class="menu-toggle">
                        <a href="#">
                            <i class="fa fa-bars"></i>
                            <span>Menu</span>
                        </a>
                    </div>
                    <!-- /Menu Toogle -->
                </div>
            </div>
            <!-- /ACCOUNT -->
        </div>
        <!-- row -->
    </div>
    <!-- container -->
</div>
<!-- /MAIN HEADER -->
</body>
</html>