<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">

    <title>Addonis - home</title>

    <div th:remove="tag" th:replace="fragments::index"></div>

</head>
<body>
<header>
    <div th:remove="tag" th:replace="fragments::header"></div>
</header>


<div th:replace="fragments::navigation('home')"></div>

<div th:replace="fragments::addonRotatingSelection(${featured}, 'Featured addons')"></div>

<div th:replace="fragments::addonRotatingSelection(${popular}, 'Top downloads addons')"></div>

<div th:replace="fragments::addonRotatingSelection(${newest}, 'Most recent addons')"></div>


<!-- jQuery Plugins -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/nouislider.min.js"></script>
<script src="js/jquery.zoom.min.js"></script>
<script src="js/main.js"></script>

</body>
</html>
