<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Addon</title>

    <div  th:replace="fragments::index"></div>

    <style>
        .tagpill {
            background-color: #ddd;
            color: black;
            padding: 2px 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            margin: 1px 1px;
            cursor: pointer;
            border-radius: 12px;
        }

        .tagpill:hover {
            background-color: #f1f1f1;
        }
    </style>

</head>
<body>
<header>
    <div th:remove="tag" th:replace="fragments::header"></div>
</header>


<div th:replace="fragments::navigation('browseaddons')"></div>


<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <div class="col-md-2 text-center">



                <img src="/api/storage/users/1/picture" alt="Avatar" style="width:80px; border-radius:30%">
                <br>
                <br>
                <h5 th:text="'' +${addon.getCreator().getFirstName()} +' '+ ${addon.getCreator().getLastName()}"></h5>
                <i>Developer</i>
                <br><br>


                <img alt="" class="test"
                     src="./img/eclipse.png" style="width:60px;" th:src="${vf.getLogoSource(addon.getTargetIde())}">
                <br><br>
                <h5 th:text="'For ' +${addon.getTargetIde().getName()}"></h5>
                <br>
                Uploaded
                <div th:text="''+ ${vf.getCreatedPrettyDate(addon)}"></div>

                <br>
                <a class="primary-btn btn-sm" th:href="${vf.getLinkBinary(addon)}">
                    <i class="fa fa-download"></i> Download
                </a>
                <br>

                <br>
                Downloaded
                <div th:text="''+ ${addon.getNumberOfDownloads()} +' times'"></div>

                <br>


                <br>

<!--                <a class="primary-btn btn-sm" th:href="${vf.getLinkBinary(addon)}">-->
<!--                    &lt;!&ndash;                    <a style="" >&ndash;&gt;-->
<!--                    <i class="fa fa-download"></i> Download-->
<!--                    &lt;!&ndash;                    </a>&ndash;&gt;-->
<!--                </a>-->
            </div>
            <div class="col-md-7">


                <div class="row text-left">
                    <div class="col-md-9">

                    <h2 th:text="${addon.getName()}"> </h2>
                    </div>

                    <div class="col-md-3">
                    <a class="yellow-btn btn-sm" th:href="${vf.getLinkBinary(addon)}">
                        <i class="fa fa-edit"></i> Edit addon </a>
                    </div>
                </div>


                <div th:text="${addon.getDescription()}"></div>

                <hr>

                <h4>Repository info</h4>

                <table>
                    <tr>
                        <td style="min-width:200px">Git repo</td>
                        <td >
                            <a th:href="${addon.getOriginUrl()}" th:text="${addon.getOriginUrl()}"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Open Issues</td>
                        <td th:text="${addon.getRepoInfo().getOpenIssues()}"></td>
                    </tr>
                    <tr>
                        <td>Open Pull Requests</td>
                        <td th:text="${addon.getRepoInfo().getOpenPullRequests()}"></td>
                    </tr>
                    <tr>
                        <td>Last commit</td>
                        <td th:text="${vf.getLastCommitPrettyDate(addon)}"></td>
                    </tr>
                    <tr>
                        <td>Last commit message</td>
                        <td th:text="${addon.getRepoInfo().getLastCommitTitle()}"></td>
                    </tr>

                </table>
                <hr>
                <h4>Tags</h4>


                <div th:each="tag : ${addon.getTags()}" th:remove="tag">
                    <span class="tagpill" th:text="${tag.getName()}"></span>
                </div>

                <hr>






            </div>
            <!-- /Reviews -->

            <!-- Rating -->
            <div class="col-md-3">
                <div id="rating">
                    <div class="rating-avg">
                        <div class="col-md-3" th:text="${addon.getAverageRating()}">
                            4.5</div>

                        <div class="col-md-9">

                            <div class="rating-stars" style="display: inline-block"
                                 th:remove="tag"
                                 th:replace="fragments::addonrating(${addon}, 'rating-stars')"></div>

                        </div>
                    </div>
                    <ul class="rating">
                        <li>
                            <div class="rating-stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="rating-progress">
                                <div th:style="'width:' + ${vf.getRelativePercentageByAddonAndRating(addon,5)} + '%;'" style="width: 80%;"></div>
                            </div>
                            <span class="sum"
                            th:text="${vf.getNumberOfUserByAddonAndRating(addon,5)}">3</span>
                        </li>
                        <li>
                            <div class="rating-stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <div class="rating-progress">
                                <div th:style="'width:' + ${vf.getRelativePercentageByAddonAndRating(addon,4)} + '%;'" style="width: 80%;"></div>
                            </div>
                            <span class="sum"
                                  th:text="${vf.getNumberOfUserByAddonAndRating(addon,4)}">2</span>
                        </li>
                        <li>
                            <div class="rating-stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <div class="rating-progress">
                                <div th:style="'width:' + ${vf.getRelativePercentageByAddonAndRating(addon,3)} + '%;'" style="width: 80%;"></div>
                            </div>
                            <span class="sum"
                                  th:text="${vf.getNumberOfUserByAddonAndRating(addon,3)}">0</span>
                        </li>
                        <li>
                            <div class="rating-stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <div class="rating-progress">
                                <div th:style="'width:' + ${vf.getRelativePercentageByAddonAndRating(addon,2)} + '%;'" style="width: 80%;"></div>
                            </div>
                            <span class="sum"
                                  th:text="${vf.getNumberOfUserByAddonAndRating(addon,2)}">0</span>
                        </li>
                        <li>
                            <div class="rating-stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <div class="rating-progress">
                                <div th:style="'width:' + ${vf.getRelativePercentageByAddonAndRating(addon,1)} + '%;'" style="width: 80%;"></div>
                            </div>
                            <span class="sum"
                                  th:text="${vf.getNumberOfUserByAddonAndRating(addon,1)}">0</span>
                        </li>
                    </ul>
                </div>

                <br>

                <!-- Review Form -->
                <div class="">
                    <div id="review-form">
                        <form class="review-form text-center"
                              th:action="@{__${#httpServletRequest.requestURI}__}" method="post">
                            <!--                            <input class="input" type="text" placeholder="Your Name">-->
                            <!--                            <input class="input" type="email" placeholder="Your Email">-->
                            <!--                            <textarea class="input" placeholder="Your Review"></textarea>-->
                            <div class="input-rating text-center">
                                <span>Your Rating: </span>
                                <div class="stars">
                                    <input id="star5" name="rating" type="radio" value="5" checked><label for="star5"></label>
                                    <input id="star4" name="rating" type="radio" value="4"><label for="star4"></label>
                                    <input id="star3" name="rating" type="radio" value="3"><label for="star3"></label>
                                    <input id="star2" name="rating" type="radio" value="2"><label for="star2"></label>
                                    <input id="star1" name="rating" type="radio" value="1"><label for="star1"></label>
                                </div>
                            </div>
                            <button class="primary-btn btn-sm">Submit</button>
                        </form>
                    </div>
                </div>
                <!-- /Review Form -->

                <br>
                <h4>Addon approval</h4>
                <!-- Approve Form -->
                <div class="">
                    <div id="approve-form">
                        <form class="review-form text-center">
                            <textarea class="input" placeholder="Please fill this is addon should be rejected"></textarea>
                            <button class="third-btn btn-sm">Approve</button>

                            <a class="second-btn btn-sm" th:href="${vf.getLinkBinary(addon)}">
                                <i class="fa fa-download-"></i> Reject
                            </a>
<!--                            <a class="third-btn btn-sm" th:href="${vf.getLinkBinary(addon)}">-->
<!--                                <i class="fa fa-ci"></i> Reject-->
<!--                            </a>-->
                        </form>
                    </div>
                </div>
                <!-- /Review Form -->

            </div>
            <!-- /Rating -->



        </div>
    </div>
</div>
<!--<div class="col-md-2  col-md-pull-5">-->
<!--    <div id="product-imgs">-->
<!--        <div class="product-preview">-->
<!--            <img alt="" src="./img/product01.png">-->
<!--        </div>-->

<!--        <div class="product-preview">-->
<!--            <img alt="" src="./img/product03.png">-->
<!--        </div>-->

<!--        <div class="product-preview">-->
<!--            <img alt="" src="./img/product06.png">-->
<!--        </div>-->

<!--        <div class="product-preview">-->
<!--            <img alt="" src="./img/product08.png">-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!-- Product details -->
<!--<div class="col-md-5">-->
<!--    <div class="product-details">-->
<!--        <h2 class="product-name" th:text="${addon.getName()}">product name goes here</h2>-->
<!--        &lt;!&ndash;                    <div th:replace="fragments::addonrating(${addon})"></div>&ndash;&gt;-->
<!--        <div>-->

<!--            <a class="review-link" href="#"> Add your rating</a>-->
<!--        </div>-->
<!--        &lt;!&ndash;                    <div>&ndash;&gt;-->
<!--        &lt;!&ndash;                        <h3 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h3>&ndash;&gt;-->
<!--        &lt;!&ndash;                        <span class="product-available">In Stock</span>&ndash;&gt;-->
<!--        &lt;!&ndash;                    </div>&ndash;&gt;-->
<!--        <p th:text="${addon.getDescription()}"></p>-->
<!--        &lt;!&ndash;                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>&ndash;&gt;-->

<!--        <div class="product-options">-->
<!--            <label>-->
<!--                Last Commit Date-->
<!--                <h7 th:text="${addon.getRepoInfo().getLastCommitDate()}"></h7>-->
<!--            </label>-->
<!--        </div>-->
<!--        <div class="product-options">-->
<!--            <label>-->
<!--                Open Issues-->
<!--                <h7 th:text="${addon.getRepoInfo().getOpenIssues()}"></h7>-->
<!--            </label>-->
<!--        </div>-->
<!--        <div class="product-options">-->
<!--            <label>-->
<!--                Open Pull Requests-->
<!--                <h7 th:text="${addon.getRepoInfo().getOpenPullRequests()}"></h7>-->
<!--            </label>-->
<!--        </div>-->
<!--        <div class="add-to-cart">-->
<!--            <div class="qty-label">-->
<!--                <div class="input-number">-->
<!--                </div>-->

<!--                <ul class="product-btns">-->
<!--                    Tags:-->
<!--                    <li>-->
<!--                        <option th:each="tag : ${vf.getTagsAddon(addon)}"-->
<!--                                th:text="${tag.getName()}"></option>-->
<!--                    </li>-->
<!--                </ul>-->

<!--                <ul class="product-links">-->
<!--                    TargetIde:-->
<!--                    <h7 th:text="${addon.getTargetIde().getName()}"></h7>-->
<!--                </ul>-->

<!--                <button class="add-to-cart-btn"><a th:href="${vf.getLinkBinary(addon)}">-->
<!--                    <i class="fa fa-shopping-cart"></i> Download </a></button>-->
<!--                &lt;!&ndash;                    <ul class="product-links">&ndash;&gt;-->
<!--                &lt;!&ndash;                        <li>Share:</li>&ndash;&gt;-->
<!--                &lt;!&ndash;                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>&ndash;&gt;-->
<!--                &lt;!&ndash;                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>&ndash;&gt;-->
<!--                &lt;!&ndash;                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>&ndash;&gt;-->
<!--                &lt;!&ndash;                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>&ndash;&gt;-->
<!--                &lt;!&ndash;                    </ul>&ndash;&gt;-->

<!--            </div>-->
<!--        </div>-->
<!--    </div>-->


<!--    &lt;!&ndash; jQuery Plugins &ndash;&gt;-->
<!--    <script src="js/jquery.min.js"></script>-->
<!--    <script src="js/bootstrap.min.js"></script>-->
<!--    <script src="js/slick.min.js"></script>-->
<!--    <script src="js/nouislider.min.js"></script>-->
<!--    <script src="js/jquery.zoom.min.js"></script>-->
<!--    <script src="js/main.js"></script>-->




</body>
</html>
