<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Change password page</title>
  <div th:replace="fragments::index"></div>
</head>
<body>
<header>
  <div th:remove="tag" th:replace="fragments::header"></div>
</header>



<div class="container" th:fragment="user(formLabel, buttonLabel)">
  <!--/*@thymesVar id="error" type="java.lang.String"*/-->
  <!--/*@thymesVar id="formLabel" type="java.lang.String"*/-->
  <!--/*@thymesVar id="buttonLabel" type="java.lang.String"*/-->
  <!--/*@thymesVar id="register" type="com.telerikacademy.addonis.models.dto.RatingDto"*/-->

  <div class="col-md-3"></div>

  <div class="col-md-6">

    <form class="form-horizontal" enctype="multipart/form-data" method="post"
          th:action="@{/users/change/password}" th:object="${user}">
      <fieldset>
        <h3 class="text-center" th:text="${formLabel}">
          User Registration Form</h3>

        <h5 class="error" style="color: red" th:text="${error}">Custom error</h5>


        <label class="control-label" for="old_password">Old Password</label>
        <input class="input-register" id="old_password" name="password" placeholder="Enter password(old)"
               th:field="*{oldPassword}" type="password">
        <h6 style="color: red" th:errors="*{oldPassword}">Error</h6>

        <label class="control-label" for="password">New Password</label>
        <input class="input-register" id="password" name="password" placeholder="Enter password(new)"
               th:field="*{newPassword}" type="password">
        <h6 style="color: red" th:errors="*{newPassword}">Error</h6>

        <label class="control-label" for="password_confirm">Password (Confirm)</label>
        <input class="input-register" id="password_confirm" name="password_confirm" placeholder="Enter password(confirm)"
               th:field="*{passwordConfirm}" type="password">
        <h6 style="color: red" th:errors="*{passwordConfirm}">Error</h6>


        <br>
        <br>


        <button class="primary-btn order-submit btn-block">Update</button>
      </fieldset>
    </form>

  </div>

  <div class="col-md-3"></div>

</div>


</body>

</html>