<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
    <div th:replace="fragments::index"></div>
</head>
<!-- Begin Page Content -->
<body>
<header>
    <div th:remove="tag" th:replace="fragments::header"></div>
</header>


<div th:replace="fragments::navigation('manageusers')"></div>

<div th:replace="fragments::userRotatingSelection(${users}, 'All users')"></div>

<!-- /.container-fluid -->

</div>

<!-- End of Main Content -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/nouislider.min.js"></script>
<script src="js/jquery.zoom.min.js"></script>
<script src="js/main.js"></script>

</body>
</html>